[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
werkzeug = "*"
email-validator = "*"
itsdangerous = "*"
pyjwt = "*"
python-dotenv = "*"
flask-pagedown = "*"
markdown = "*"
bleach = "*"
flask-httpauth = "*"

[dev-packages]
faker = "*"
httpie = "*"
coverage = "*"
selenium = "*"

[requires]
python_version = "3.8"
